[Desktop Entry]
Name=Run command
Name[de]=Befehl ausführen
Exec=dsbexec
Icon=system-run
Terminal=false
StartupNotify=false
Type=Application
Categories=Utility;
